<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container mt-5">
        <h1>This is a main page</h1>
        <h5>This site was created with:</h5>
        <ul>
            <li>Express</li>
            <li>MongoDB</li>
            <li>Bcrypt</li>
            <li>EJS</li>
        </ul>
        <a href="https://github.com/H4YKM" target="_blank">Please star me on GitHub!</a>
    </div>
</body>
</html>