<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
<div class="container mt-5">
    <h1>Register</h1>
    <form id="apijs">
        <div class="form-group mt-4">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">This field are required.</small>
        </div>
        <div class="form-group mt-2">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" minlength="6" maxlength="12">
            <small id="emailHelp" class="form-text text-muted">The password must be at least 6 and maximum 12 characters long.</small>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/frontend.register.js"></script>
</body>
</html>